body{
    
    padding:20px 10px;
}#main{
    background-color: #eee;
    padding:20px;
}
#title{
    text-align:center;
    padding:20px;
}
#title h2{
    font-size: 39px;
    font-weight: bold;
    color:#333;
    line-height: 1;
}
#title p{
    font-size: 19px;
}
#img-div{
    background-color: white;
    text-align:center;
    padding:20px;
}#img-div img{
    width: 70%;
    height: auto;
}
#img-div p{
    font-size: 19px;
}

#tribute-info{
   
}
#tribute-info #list{
    margin: auto;
    max-width: 555px;
    text-align: left;
}
#tribute-info #list li{
    margin-bottom: 30px;
    font-size: 18px;
    color:#6c6c6c;
}
#tribute-info #list b{
    color: #333;
}
blockquote{
    font-size: 20px;
    color: #6c6c6c;
    line-height: 23px;

}
#tribute-info h3{
    display: block;
    text-align: center;
    margin-top: 60px;
    font-size: 22px;
    color: #333;
}a{
    color:#477ca7
}